@{
    ViewBag.Title = "RegraPontuacao";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Regra de Pontuação</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center"></h2>
                    <p class="intro text-center"></p>
                    <div class="desc text-left">
                        <p><b>Vitórias</b></p>
                        <p>
                            O <b>Desafiante</b> que vencer pelo seguinte placar em sets:<br>
                            2x0 - ganhará 10 pontos<br>
                            2x1 - ganhará 08 pontos<br>
                            O <b>Desafiado</b> que vencer pelo seguinte placar em sets:<br>
                            2x0 - ganhará 09 pontos<br>
                            2x1 - ganhará 07 pontos<br>
                        </p>
                        <p><b>Derrotas</b></p>
                        <p>
                            O <b>Desafiante</b> que perder pelo seguinte placar em sets:<br>
                            2x0 - ganhará 02 pontos<br>
                            2x1 - ganhará 04 pontos<br>
                            O <b>Desafiado</b> que perder pelo seguinte placar em sets:<br>
                            2x0 - ganhará 01 ponto<br>
                            2x1 - ganhará 03 pontos
                        </p>
                        <p><b>WO e Jogo com o Curinga</b></p>

                            <p>O Vencedor ganhará - 06 pontos</p>
                            <p>O Perderdor não pontuará</p>
                        <p><b>Jogador Licenciado</b></p>
                            <p>ganhará 3 pontos</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->

