@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";

}

@section Css_Painel{
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="@Url.Content("/Content/css/manuais.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3 d-flex">
                <h3>
                    <a href="/Torneio/PainelControle" class="voltar">
                        <img src="/Content/img/back.svg" alt="icone">
                        Voltar
                    </a>   |  Manuais de uso do sistema
                </h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-12">

                <!-- Slider main container -->
                <div class="swiper" id="slide-circuito1">
                    <!-- Additional required wrapper -->

                    <ul class="nav nav-tabs swiper-wrapper" id="myTab" role="tablist">
                        <!-- Slides -->


                        <li class="nav-item swiper-slide" role="presentation">
                            <button class="nav-link active nav-links" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">
                                Configurações iniciais
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">
                                Criando um torneio
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="periodo-tab" data-bs-toggle="tab" data-bs-target="#periodo"
                                    type="button" role="tab" aria-controls="periodo"
                                    aria-selected="false">
                                Período de Inscrições
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="durante-tab" data-bs-toggle="tab" data-bs-target="#durante"
                                    type="button" role="tab" aria-controls="durante"
                                    aria-selected="false">
                                Durante o Torneio
                            </button>
                        </li><!--nav-tab-->



                    </ul><!--swiper-wrapepr-->



                </div><!--swiper-->
                <div class="tab-content mt-5" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Alterando logo e nome</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Integração com o Pagseguro</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Criando um circuito</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Editando um circuito</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--home tab-->

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 1</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>


                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 2</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 3</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 4</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--profile tab-->

                    <div class="tab-pane fade" id="periodo" role="tabpanel" aria-labelledby="periodo-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 5</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>


                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 6</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 7</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 8</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--periodo tab-->

                    <div class="tab-pane fade" id="durante" role="tabpanel" aria-labelledby="durante-tab">
                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 9</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>


                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 10</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 11</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Vídeo 12</h6>

                            <a href="https://youtube.com" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->
                    </div><!--durante tab-->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Content/js/render.js"></script>
    <script src="~/Content/js/menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: false,
            slidesPerView: "auto",
            centeredSlides: false,
            spaceBetween: 10,
            freeMode: true,
            breakpoints: {
                992: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                },
            },
        });
    </script>
}