@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";

}

@section Css_Painel{
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="@Url.Content("/Content/css/manuais.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3 d-flex">
                <h3>
                    <a href="/Torneio/PainelControle" class="voltar">
                        <img src="/Content/img/back.svg" alt="icone">
                        Voltar
                    </a>   |  Manuais de uso do sistema
                </h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-12">

                <!-- Slider main container -->
                <div class="swiper" id="slide-circuito1">
                    <!-- Additional required wrapper -->

                    <ul class="nav nav-tabs swiper-wrapper" id="myTab" role="tablist">
                        <!-- Slides -->


                        <li class="nav-item swiper-slide" role="presentation">
                            <button class="nav-link active nav-links" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">
                                Configurações iniciais
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">
                                Criando um torneio
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="periodo-tab" data-bs-toggle="tab" data-bs-target="#periodo"
                                    type="button" role="tab" aria-controls="periodo"
                                    aria-selected="false">
                                Período de Inscrições
                            </button>
                        </li><!--nav-tab-->



                        <li class="nav-item swiper-slide ms-2" role="presentation">
                            <button class="nav-link nav-links" id="durante-tab" data-bs-toggle="tab" data-bs-target="#durante"
                                    type="button" role="tab" aria-controls="durante"
                                    aria-selected="false">
                                Durante o Torneio
                            </button>
                        </li><!--nav-tab-->



                    </ul><!--swiper-wrapepr-->



                </div><!--swiper-->
                <div class="tab-content mt-5" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Alterar dados iniciais</h6>

                            <a href="https://youtu.be/SkDHpcVl6T0" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Alterar informações do circuito</h6>

                            <a href="https://youtu.be/-9wqC7O_YUM" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Como criar primeiro torneio</h6>

                            <a href="https://youtu.be/q-lL5ysTm60" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">Relação entre categorias de torneios e circuito</h6>

                            <a href="https://youtu.be/c_QZjnzkqyk" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">PagSeguro - Passo 1 - Cadastro Pagseguro</h6>

                            <a href="https://youtu.be/WxFGPbAxSYw" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">PagSeguro - Passo 2 - Finalizando a integração</h6>

                            <a href="https://youtu.be/Vp6iJyt86rg" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--home tab-->

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Classes) Tipos de categorias do sistema</h6>

                            <a href="https://youtu.be/qm6EXF979h8" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>


                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Classes) Alterar ordem de exibição das categorias</h6>

                            <a href="https://youtu.be/DluNQkI2XBs" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Patrocínio) Inserir patrocinadores do torneio</h6>

                            <a href="https://youtu.be/vRdjgYoUC0w" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--profile tab-->

                    <div class="tab-pane fade" id="periodo" role="tabpanel" aria-labelledby="periodo-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Informações) Escolher onde divulgar o torneio</h6>

                            <a href="https://youtu.be/P_G6XS7MNqk" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Informações) Abrir e fechar inscrições</h6>

                            <a href="https://youtu.be/OwJh7UoKf7w" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Informações) Definir valores de inscrições e descontos</h6>

                            <a href="https://youtu.be/dsjbSP5-9sM" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Informações) Ver observações dos jogadores inscritos</h6>

                            <a href="https://youtu.be/eYLDM5D_Xa0" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Alterar categoria de jogadores</h6>

                            <a href="https://youtu.be/55ioeWAacjY" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Filtrar para encontrar inscritos</h6>

                            <a href="https://youtu.be/Xoa0BJE7O3M" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Filtrar por categorias</h6>

                            <a href="https://youtu.be/v21oSxmo1tE" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Ver detalhes de uma inscrição</h6>

                            <a href="https://youtu.be/bW3iFrkXsBY" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Alterar dados do jogador</h6>

                            <a href="https://youtu.be/X8sbeuIiOv0" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Contatar inscrito pelo whatsapp</h6>

                            <a href="https://youtu.be/A_SMh7Smyj8" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Inscritos) Excluir inscrição</h6>

                            <a href="https://youtu.be/tCXPG34neFQ" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Duplas) Formar manualmente uma dupla</h6>

                            <a href="https://youtu.be/U4KiKNZjZTc" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Duplas) Defazer manualmente uma dupla</h6>

                            <a href="https://youtu.be/oTXzisZHwU0" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Duplas) Enviar whatsapp para quem não tem dupla</h6>

                            <a href="https://youtu.be/FAA9xxLghjU" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--periodo tab-->

                    <div class="tab-pane fade" id="durante" role="tabpanel" aria-labelledby="durante-tab">

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Gerar a tabela</h6>

                            <a href="https://youtu.be/E2MNjxUVfjQ" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Gerar a tabela de fase de grupos com poucos participantes</h6>

                            <a href="https://youtu.be/BKu5Dlm79bw" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) O que são jogos pendentes, marcados e finalizados</h6>

                            <a href="https://youtu.be/o7YXKb2JsDw" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Inserir horário dos jogos e liberar tabela</h6>

                            <a href="https://youtu.be/AFiRfCyedL4" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Gerar lista impressa por dia e horário</h6>

                            <a href="https://youtu.be/BPjIWPqje9I" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Como lançar placar dos jogos</h6>

                            <a href="https://youtu.be/Eb70nvl-0Kc" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Atualização automática da tabela de mata mata</h6>

                            <a href="https://youtu.be/1fkzrb7rl98" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Atualização automática da tabela de fase de grupos</h6>

                            <a href="https://youtu.be/_qkM6kfgONA" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Gerar tabela de mata mata ao final da fase de grupos</h6>

                            <a href="https://youtu.be/H-2rXvkFU-8" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Lançamento de WO em fase de grupos</h6>

                            <a href="https://youtu.be/GGNQMUPnuA4" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Trocar jogador de posição na tabela de mata mata</h6>

                            <a href="https://youtu.be/pa_CopK_E3w" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Como trocar jogador de grupo</h6>

                            <a href="https://youtu.be/uYvPUWj_Cbk" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Inserir dupla na fase de grupos com tabela já lançada</h6>

                            <a href="https://youtu.be/FQ5FcY0WiDU" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Jogos) Trocar um parceiro de uma dupla</h6>

                            <a href="https://youtu.be/Oh5RWPe_ai4" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                        <div class="line-video"></div>

                        <div class="video d-flex justify-content-between align-items-center">
                            <h6 class="text-title">(Aba Fase de Grupos) Consolidação da fase de grupos</h6>

                            <a href="https://youtu.be/iCVeGibKHzk" target="_blank">
                                <button>
                                    <img src="/Content/img/video.png" alt="icone" />
                                    <span>Assistir</span>
                                </button>
                            </a>
                        </div><!--item single-->

                    </div><!--durante tab-->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Content/js/menu.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: false,
            slidesPerView: "auto",
            centeredSlides: false,
            spaceBetween: 10,
            freeMode: true,
            breakpoints: {
                992: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                },
            },
        });
    </script>
}