@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Data Brasília: @ViewBag.DataBrasilia
        <br>
        Data Local: @ViewBag.DataLocal
    </div>
</body>
</html>
