@{
    Layout = null;
}

<!DOCTYPE html>

<link rel="stylesheet" href="~/Content/jsuites/jsuites.css">
<html>

<body>
    <div>
        <div id="dropdown" class="drT"></div>
        <div id="dropdown2" class="drT"></div>
        <div id="dropdown3" class="drT"></div>
        <div id="dropdown4" class="drT"></div>
    </div>
</body>

</html>

<script src="~/Content/jsuites/jsuites.js"></script>
<script>


    function carregarDrops() {

        var drops = document.getElementsByClassName("drT")

        for (var i = 0; i < drops.length; i++) {
            jSuites.dropdown(drops[i], {
                url: '/torneio/ObterJogadores?torneioId=1390',
                remoteSearch: true,
                lazyLoading: true,
                width: '280px',
                autocomplete: true,
            });
        }

        
        
        
    }
    carregarDrops();

</script>
