################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Barragem.v12.suo
/.vs/
/packages/
/Barragem/App_Data/aspnet-Barragem-20140717001205.mdf
/Barragem/App_Data/aspnet-Barragem-20140717001205_log.ldf
/Barragem/App_Data/ASPNETDB.MDF
/Barragem/App_Data/aspnetdb_log.ldf
*.dll
/Barragem/bin/Uol.PagSeguro.pdb
/Barragem/bin/Barragem.dll.config
/Barragem/bin/Barragem.pdb
/Barragem/bin/DotNetOpenAuth.AspNet.xml
/Barragem/bin/DotNetOpenAuth.Core.xml
/Barragem/bin/DotNetOpenAuth.OAuth.Consumer.xml
/Barragem/bin/DotNetOpenAuth.OAuth.xml
/Barragem/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/Barragem/bin/DotNetOpenAuth.OpenId.xml
/Barragem/bin/EntityFramework.xml
/Barragem/bin/Microsoft.Data.Edm.xml
/Barragem/bin/Microsoft.Data.OData.xml
/Barragem/bin/Microsoft.Web.WebPages.OAuth.xml
/Barragem/bin/Newtonsoft.Json.xml
/Barragem/bin/System.Net.Http.Formatting.xml
/Barragem/bin/System.Spatial.xml
/Barragem/bin/System.Web.Helpers.xml
/Barragem/bin/System.Web.Http.OData.xml
/Barragem/bin/System.Web.Http.WebHost.xml
/Barragem/bin/System.Web.Http.xml
/Barragem/bin/System.Web.Mvc.xml
/Barragem/bin/System.Web.Razor.xml
/Barragem/bin/System.Web.WebPages.Deployment.xml
/Barragem/bin/System.Web.WebPages.Razor.xml
/Barragem/bin/System.Web.WebPages.xml
/Barragem/bin/WebMatrix.Data.xml
/Barragem/bin/WebMatrix.WebData.xml
/Barragem/Content/flexslider/README.mdown
/Barragem/obj/Debug/Barragem.csproj.FileListAbsolute.txt
/Barragem/obj/Debug/Barragem.csprojResolveAssemblyReference.cache
/Barragem/obj/Debug/Barragem.pdb
/Barragem/obj/Debug/Barragem.csproj.CoreCompileInputs.cache
/Barragem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Barragem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Barragem/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Barragem/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Barragem/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Barragem/obj/Release/Barragem.csproj.FileListAbsolute.txt
/Barragem/obj/Release/Barragem.csprojResolveAssemblyReference.cache
/Barragem/obj/Release/Barragem.pdb
/Barragem/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Barragem/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Barragem/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Barragem/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Barragem/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Barragem/obj/Debug/Barragem.csproj.CopyComplete
Barragem/obj/Release/Barragem.csproj.CopyComplete
/Barragem/Content/images/Photo
/Barragem/obj/Debug/build.force
/Barragem/antenado-48836-firebase-adminsdk-8j4m2-98c0ba76b0.json
/scriptRodadaNaoRepetir.txt
/Barragem/Content/politica-de-privacidade_arquivos
/Barragem/Content/politica-de-privacidade.html
