@{
    ViewBag.Title = "Contact";
}

    <legend>Contato</legend>

<section class="contact">
    <header>
        <h4>Ricardo Martins</h4>
    </header>
    <header>
        <h4>Telefone:</h4>
    </header>
    <p>
        <span>(61) 8408-6580</span>
    </p>
</section>

<section class="contact">
    <header>
        <h4>Email:</h4>
    </header>
    <p>
        <span><a href="mailto:barragemdocerrado@gmail.com">barragemdocerrado@gmail.com</a></span>
    </p>
    
</section>

