@{
    ViewBag.Title = "Fale Conosco";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Fale Conosco</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center"></h2>
                    <p class="intro text-center"></p>
                    <div class="desc text-left">
                        <h3 class="title">Contatos</h3>
                        <p class="tel"><span style="font-size: 10pt;">Eduardo Martins</span></p>
                        <p class="tel"><span style="font-size: 10pt;">61-98106-2626 - Whatsapp</span></p>
                        <p class="email"><span style="font-size: 10pt;">contatorankingdetenis@gmail.com</span></p>
                        <p class="email"><span style="font-size: 10pt;"><a href="https://www.facebook.com/barragemdocerrado" target="_blank"     data-show-count="false">www.facebook.com/barragemdocerrado</a></span></p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
