@{
    ViewBag.Title = "Funcionalidades";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Ranking atualizado toda semana</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center">Descubra o nível do seu jogo</h2>
                    <p class="intro text-center">Baseado no modelo da ATP!</p>
                    <div class="desc text-left">
                        <p>O ranking pode ser único ou por classes de acordo a escolha do administrador.</p>
                        <p>O ranking é baseado no modelo da ATP, ou seja, na defesa de pontos, estimulando os jogadores para que sempre estejam jogando.</p>
                        <p>Um novo ranking é gerado ao final de cada rodada e o período da rodada é estipulado pelo administrador (semanal, quinzenal, etc)</p>
                        <p>A pontuação leva em consideração diversos fatores, como posição no ranking, quantidade de games vencidos e perdidos etc...</p> 
                    <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
