@{
    ViewBag.Title = "Funcionalidades";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Eventos</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center">Participe de Eventos</h2>
                    <p class="intro text-center">Faça amigos para a vida toda</p>
                    <div class="desc text-left">
                        <p>Promoção de eventos para uma maior integração entre os participantes.</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
