@{
    ViewBag.Title = "Funcionalidades";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Jogos toda semana</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center">Jogue cada vez melhor</h2>
                    <p class="intro text-center">Conheça vários estilos de jogos!</p>
                    <div class="desc text-left">
                        <p>       O sistema gera jogos toda semana entre os jogadores próximos a você no ranking, não repetindo o mesmo jogo por pelo três rodadas.</p>
                        <p>       Os jogos podem ser realizados durante a semana de acordo com a disponibilidade dos jogadores.</p>
                        <p>       Os próprios jogadores lançam o resultado do jogo no sistema.</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
