@{
    ViewBag.Title = "Funcionalidades";
    //Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<!-- ******Signup Section****** -->
        <h2 class="title">Torneios</h2>
                    <p class="intro text-center">Levante o seu troféu e receba o reconhecimento de todos</p>
                    <div class="desc text-left">
                        <p>O sistema permite a organização de torneios, dividindo os tenistas por classes.</p>
                        <p>Diversos tipos de classes podem ser criadas: feminina, master, elite e etc...</p>
                        <br><br><br>
                    </div><!--//desc-->
