@{
    ViewBag.Title = "Tênis Ranking";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}
<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
        </ul>
    </div>
</div>
<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Jogue tênis como um profissional<br />e divirta-se como um amador!</h2>
        <p class="intro">Um ranking de tênis criado para você se divertir ao máximo e se aperfeiçoar sempre.</p>
        <p><a class="btn btn-cta btn-cta-primary" href="@Url.Action("Register", "Account")">Cadastre-se</a></p>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">
    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Quer jogar tênis da melhor maneira possível?</h2>
            <p class="intro text-center">Participe do nosso ranking e aprimore seu jogo.</p>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Aferfeiçoe constantemente o seu jogo</h3>
                    <div class="desc">
                        <p>Nós acreditamos que a melhor maneira de explorar todos os benefícios que este esporte pode oferecer é jogando com o maior número de pessoas posssíveis.</p>
                        <p>Independente do seu nível de jogo, quando mais cedo você começar a realizar jogos, mais rápido você entenderá a dinâmica deste maravilhoso esporte.</p>
                    </div>
                    <!--div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="~/Images/people/profile-s-1.png" alt="" />
                        </div>
                        <div class="quote-content">
                            <blockquote><p><a href="https://twitter.com/3rdwave_themes" target="_blank">lia</a> De mais! Tenho apenas dois anos no tênis e depois que passei a utilizar a plataforma meu jogo melhorou bastante. :)</p></blockquote>
                            <p class="source">Lia, Taguatinga</p>
                        </div>
                    </div-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="~/Content/image/grafico.png" alt="" />
                </figure>
            </div><!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Sistema inspirado no ranking da APT</h3>
                    <div class="desc">
                        <p>Acompanhe a sua evolução com dados estatísticos, descubra o nível do seu jogo, crie novas metas, faça um treino direcionado e muito mais.</p>
                    </div>

                    <!--div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="~/Images/people/profile-s-2.png" alt="" />
                        </div>
                        <div class="quote-content">
                            <blockquote><p>Os treinamentos direcionados e em equipe foram fundamentais para eu soltar mais o meu jogo.</p></blockquote>
                            <p class="source">Chico, Águas Claras</p>
                        </div>
                    </div-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="~/Content/image/quadra.png" alt="" />
                    <!--div class="control text-center"-->
                    <!--button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button-->
                    <!--/div --><!--//control-->
                </figure>
            </div><!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Jogos toda semana</h3>
                    <div class="desc">
                        <p>A vida é feita de desafios. Desafie e seja desafiado toda semana. Celebre com a vitória, aprenda com as derrotas.</p>
                        <p>Conheça pessoas novas, lugares diferentes, superfícies variadas.</p>
                    </div>
                    <!--div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="~/Images/people/profile-s-3.png" alt="" />
                        </div>
                        <div class="quote-content">
                            <blockquote>
                                <p>
                                    Adoro esta adrenalida antes das partidas, a dopamina durante os jogos e o relaxamento pós-jogo. Ser desafiado nos mantem mais estimulados.
                                </p>
                            </blockquote>
                            <p class="source"><a href="#">Andreia</a>, Asa sul</p>
                        </div>
                    </div-->
                </div>
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="~/Content/image/desafio.png" alt="" />

                </figure>
            </div><!--//item-->

            <div class="row item last-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Faça amigos</h3>
                    <div class="desc">
                        <p>Conheça pessoas novas, faça novos amigos. Descubra o "fair play" que há no tênis. Participe de torneios, eventos, workshops e muito mais.</p>
                        <p>Conecte-se a pessoas com a mesma paixão pelo tênis que você.</p>

                    </div>

                    <!--div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="~/Images/people/profile-s-4.png" alt="" />
                        </div>
                        <div class="quote-content">
                            <blockquote><p>Pessoas incríveis, eventos maravilhosos, lugares inesquecíveis.</p></blockquote>
                            <p class="source">Renato, Sobradinho</p>
                        </div>
                    </div-->
                </div>
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="~/Content/image/amigos.png" alt="" />
                </figure>
            </div><!--//item-->
        </div><!--//container-->
    </section><!--//why-->
    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section">
        <div class="container">
            <h2 class="title">Não fique sozinho. Venha jogar conosco.</h2>
            <p><a class="btn btn-cta btn-cta-primary" href="@Url.Action("Register", "Account")">Cadastre-se</a></p>
        </div><!--//container-->
    </section><!--//cta-section-->

</div><!--//section-wrapper-->
