@{ 
    Layout = null;
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/hamburgers.min.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">
    <title>Beach Tennis</title>
</head>
<body>
    <!--menu mobile-->

    <div class="menu">
        <div class="logo p-4"><img class="img-fluid" src="/Content/img/logo.png" alt="logo do site" /></div>
        <ul class="mobile">
            <li><a href="#inicio">Início</a></li>
            <li><a href="#vantagens">Vantagens</a></li>
            <li><a href="#depoimentos">Depoimentos</a></li>
            <li><a href="#app">App</a></li>
            <li><a href="#sobre">Quem somos</a></li>
            <li><a class="button" href="/Account/LoginBT">Entrar</a></li>
        </ul>
        <div class="contact-menu">
            <h6>DÚVIDAS?</h6>
            <div class="contact__wrapper d-flex align-items-center">
                <img src="/Content/img/whatsapp.png" alt="icone">
                <h6 class="mt-1 mx-1">11 99900-2345</h6>
            </div><!--contact__wrapper-->
        </div><!--contact-menu-->
    </div><!--menu-->
    <!--fim do menu mobile-->

    <header id="inicio">
        <div class="container">
            <nav class="d-flex justify-content-between align-items-center">
                <div class="logo"><img class="img-fluid" src="/Content/img/logo.png" alt="logo do site" /></div>
                <ul class="desktop d-flex align-items-center">
                    <li><a href="#inicio">Início</a></li>
                    <li><a href="#vantagens">Vantagens</a></li>
                    <li><a href="#depoimentos">Depoimentos</a></li>
                    <li><a href="#app">App</a></li>
                    <li><a href="#sobre">Quem somos</a></li>
                    <li><a class="button" href="/Account/LoginBT">Entrar</a></li>
                </ul>
                <div class="hamburger hamburger--spring">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </nav>
        </div><!--container-->

        <section class="hero-content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <article>
                            <h1>Organize torneios de<br> Beach Tennis <b>de forma<br> fácil e motive os jogadores</b></h1>
                            <p>Feito para organiadores de torneios e todos amantes do esporte!</p>

                            <!-- Slider main container -->
                            <div class="swiper">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/01-carrossel.png" alt="imagem de exemplos de funcionamentos do app">
                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/02-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/03-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/04-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/05-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/06-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/07-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/08-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/09-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                    <div class="swiper-slide">
                                        <!--Imagem do slide do topo / insira ela aqui-->
                                        <img class="img-fluid" src="~/Content/img/carrossel/10-carrossel.png" alt="imagem de exemplos de funcionamentos do app">

                                    </div><!--slider único-->

                                </div><!--swipper-wrapper-->
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </div><!--swiper-->

                        </article><!--hero-text-->
                    </div><!--col-md-6-->

                    <div class="col-md-6 infos">
                        <h4 class="custom text-center">QUER ORGANIZAR SEU TORNEIO?</h4>
                        <p class="text-center">Crie seu primeiro torneio grátis</p>
                        <div class="wrapper d-flex justify-content-center">
                            <a class="button-xl" href="/Account/RegisterOrganizador">Criar meu Torneio</a>
                        </div><!--wrapper-->

                        <h4 class="mt-5 text-center custom">SÓ QUER JOGAR?</h4>
                        <p class="text-center">Baixe então nosso app para participar<br> dos torneios</p>

                        <div class="img-wrapper d-flex justify-content-center">
                            <a href="https://play.google.com/store/apps/details?id=com.rankingtennis&hl=pt_BR" target="_blank"><img class="img-fluid" src="/Content/img/google.png" alt="icone do google play"></a>
                            <a href="https://apps.apple.com/us/app/ranking-de-t%C3%AAnis/id1483076354?l=pt&ls=1" target="_blank"><img class="img-fluid" src="/Content/img/appstore.png" alt="icone do app store"></a>
                        </div><!--img-wrapper-->
                    </div><!--col-md-6-->
                </div><!--row-->

            </div><!--container-->
        </section><!--hero-content-->
    </header>

    <section class="diferenciais" id="vantagens">
        <div class="container">
            <h2>Porque utilizar o <b>Ranking Beach Tennis</b></h2>
            <div class="wrapper d-flex justify-content-center">
                <div class="line"></div>
            </div><!--wrapper-->

            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/facilidade.jpg" alt="icone">
                    <h5>Facilidade na organização</h5>
                    <p>Monte seus torneios de maneira simples, receba as inscrições e pagamentos online, gere grupos e chaves de forma automática e mantenha a tabela de resultados atualizada.</p>
                </div><!--col-md-4-->

                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/automacao.jpg" alt="icone">
                    <h5>Automação de pagamentos</h5>
                    <p>Conecte nosso sistema ao seu Pagseguro e receba pagamento automático no cartão ou pix. Assim você não precisa atualizar manualmente quem pagou, pois as inscrições serão atualizadas automaticamente.</p>
                </div><!--col-md-4-->

                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/fiel.png" alt="icone">
                    <h5>Fiel às regras da CBT</h5>
                    <p>Seguimos fielmente o regulamento de Beach Tennis da Confederação Brasileira de Tênis. Não se preocupe com as regras! O sistema já faz tudo automático por você.</p>
                </div><!--col-md-4-->

                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/modalidade.jpg" alt="icone">
                    <h5>Modalidade todos contra todos</h5>
                    <p>Se não quiser seguir as regras da CBT, você pode optar por torneios de todos contra todos. Será campeão aquele que ao final tiver mais vitórias.</p>
                </div><!--col-md-4-->

                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/fidelize.jpg" alt="icone">
                    <h5>Fidelize os jogadores</h5>
                    <p>Ao final de cada torneio o sistema pode formar um ranking dos jogadores. Isso estimula que eles participem dos próximos torneios para somar pontos.</p>
                </div><!--col-md-4-->

                <div class="col-md-4 card d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid" src="/Content/img/app.jpg" alt="icone">
                    <h5>App para jogadores</h5>
                    <p>Utilizando o app, os beach tenistas fazem a inscrição, acompanham cada etapa do torneio e vêem sua posição no ranking.</p>
                </div><!--col-md-4-->
            </div><!--row-->
        </div><!--container-->
    </section><!--diferenciais-->

    <section class="depoimentos mt-5" id="depoimentos">
        <div class="container">
            <h2>O que organizadores e jogadores de torneios<br> dizem sobre o Ranking Beach Tennis</h2>

            <!-- Slider main container -->
            <div class="swiper2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide d-flex">
                        <div class="wrapper d-flex flex-column">
                            <img class="img-fluid" src="/Content/img/user1.png" alt="foto de usuário">
                            <img class="img-fluid" src="/Content/img/logo-user.png" alt="foto de logo">
                        </div><!--wrapper-->
                        <div class="text">
                            <p>”Agora ficou muito mais divertido jogar<br> tênis no meu clube. Fiz novas amizades e<br> conheci novos parceiros de treino.”</p>
                            <h5>Marcelo rodrigues</h5>
                            <h6>Organizador de Torneios | Dourados/MS</h6>
                        </div><!--text-->
                    </div><!--swiper-slide-->

                    <div class="swiper-slide d-flex">
                        <div class="wrapper d-flex flex-column">
                            <img class="img-fluid" src="/Content/img/user2.png" alt="foto de usuário">
                            <img class="img-fluid" src="/Content/img/user-logo.png" alt="foto de logo">
                        </div><!--wrapper-->
                        <div class="text">
                            <p>”Agora ficou muito mais divertido jogar<br> tênis no meu clube. Fiz novas amizades e<br> conheci novos parceiros de treino.”</p>
                            <h5>Marcelo rodrigues</h5>
                            <h6>Organizador de Torneios | Dourados/MS</h6>
                        </div><!--text-->
                    </div><!--swiper-slide-->

                    <div class="swiper-slide d-flex">
                        <div class="wrapper d-flex flex-column">
                            <img class="img-fluid" src="/Content/img/user1.png" alt="foto de usuário">
                            <img class="img-fluid" src="/Content/img/logo-user.png" alt="foto de logo">
                        </div><!--wrapper-->
                        <div class="text">
                            <p>”Agora ficou muito mais divertido jogar<br> tênis no meu clube. Fiz novas amizades e<br> conheci novos parceiros de treino.”</p>
                            <h5>Marcelo rodrigues</h5>
                            <h6>Organizador de Torneios | Dourados/MS</h6>
                        </div><!--text-->
                    </div><!--swiper-slide-->


                    <div class="swiper-slide d-flex">
                        <div class="wrapper d-flex flex-column">
                            <img class="img-fluid" src="/Content/img/user1.png" alt="foto de usuário">
                            <img class="img-fluid" src="/Content/img/logo-user.png" alt="foto de logo">
                        </div><!--wrapper-->
                        <div class="text">
                            <p>”Agora ficou muito mais divertido jogar<br> tênis no meu clube. Fiz novas amizades e<br> conheci novos parceiros de treino.”</p>
                            <h5>Marcelo rodrigues</h5>
                            <h6>Organizador de Torneios | Dourados/MS</h6>
                        </div><!--text-->
                    </div><!--swiper-slide-->
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

            </div><!--swipper-->

        </div><!--container-->
    </section><!--depoimentos-->

    <section class="app" id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="phone">
                        <img src="/Content/img/phone.png" alt="imagem de telefone com o app da empresa">
                    </div><!--phone-->
                </div><!--col-md-2-->

                <div class="col-md-8">
                    <div class="app__content">
                        <h2>App para jogadores</h2>
                        <p>Os jogadores fazem a inscrição pelo aplicativo e acompanham<br> todo torneio pelo app. <b>Simples, rápido e prático!</b></p>
                        <div class="wrapper d-flex">
                            <a href="https://play.google.com/store/apps/details?id=com.rankingtennis&hl=pt_BR" target="_blank"><img class="img-fluid" src="/Content/img/google.png" alt="icone do google play"></a>
                            <a href="https://apps.apple.com/us/app/ranking-de-t%C3%AAnis/id1483076354?l=pt&ls=1" target="_blank"><img class="img-fluid" src="/Content/img/appstore.png" alt="icone do app store"></a>
                        </div><!--wrapper-->

                        <div class="app__users mt-5">

                            <div class="swiper3">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">

                                        <picture>
                                            <source media="(min-width:650px)" srcset="/Content/img/perfil1.png">
                                            <source media="(min-width:300px)" srcset="/Content/img/perfil1-mobile.png">
                                            <img src="/Content/img/perfil1.png" alt="imagem do app" style="width:auto;">
                                        </picture>
                                    </div><!--swiper-slide-->

                                    <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width:650px)" srcset="/Content/img/perfil2.png">
                                            <source media="(min-width:300px)" srcset="/Content/img/perfil2-mobile.png">
                                            <img src="/Content/img/perfil2.png" alt="imagem do app" style="width:auto;">
                                        </picture>
                                    </div><!--swiper-slide-->

                                    <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width:650px)" srcset="/Content/img/perfil3.png">
                                            <source media="(min-width:300px)" srcset="/Content/img/perfil3-mobile.png">
                                            <img src="/Content/img/perfil3.png" alt="imagem do app" style="width:auto;">
                                        </picture>
                                    </div><!--swiper-slide-->

                                </div>


                            </div><!--swipper-->
                        </div><!--users-->
                    </div><!--app__content-->
                </div><!--col-md-10-->
            </div><!--row-->
        </div><!--container-->
    </section><!--app-->

    <section class="sobre d-flex align-items-center" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Quem Somos</h2>
                    <p>O Ranking Beach Tennis surge da experiência exitosa do sistema <a href="https://www.rankingdetenis.com/" target="_blank">rankingdetenis.com</a> que desde 2016 já foi utilizado por centenas de organizadores de torneios e rankings de tênis em todos os estados do Brasil, inclusive pela Federação Brasiliense. Com o crescimento do esporte, adaptamos o sistema e incorporamos fielmente o regulamento de Beach Tennis da Federação Brasileira de Tênis (FBT).</p>
                    <p>Desta maneira facilitamos a vida dos organizadores de torneios que não precisam se preocupar com a questão operacional e sim em organizar o evento. Já os jogadores poderão acompanhar todas etapas pelo aplicativo MeuRanking desde o início da inscrição até o andamento dos jogos e ainda ver sua classificação no ranking.</p>
                </div><!--col-md-6-->

                <div class="col-md-6 d-flex align-items-center flex-wrap justify-content-around">
                    <img src="/Content/img/logo.png" alt="logo da empresa">
                    <img src="/Content/img/logo-tenis.png" alt="logo da empresa">
                </div><!--col-md-6-->
            </div><!--row-->
        </div><!--container-->
    </section><!--sobre-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <img src="/Content/img/logo.png" alt="logo da empresa">
                    </div><!--logo-->
                </div><!--col-md-4-->

                <div class="col-md-8 d-flex flex-column align-items-end">
                    <h6>DÚVIDAS?</h6>
                    <div class="wrapper d-flex align-items-center">
                        <img src="/Content/img/whatsapp.png" alt="icone do whatsapp">
                        <h6 class="mt-1">11 99900-2345</h6>
                    </div><!--wrapper-->
                    <div class="line-footer"></div>
                    <p>© 2021 Ranking Beach Tennis. Todos os direitos reservados.</p>
                </div><!--col-md-8-->
            </div><!--row-->
        </div><!--container-->
    </footer>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>