@{
    ViewBag.Title = "Quem Somos";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Quem Somos</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center"></h2>
                    <p class="intro text-center"></p>
                    <div class="desc text-left">
                        <p>O sistema RANKING DE TÊNIS nasceu como plataforma de apoio a Barragem do Cerrado. A Barragem do Cerrado é um ranking fundado em setembro de 2011 e hoje são mais de 140 tenistas de Brasília de clubes variados que se desafiam semanalmente.</p>
                        <p>No sistema utilizado pela Barragem, que agora esta sendo disponibilizado as todos os interessados através da plataforma RANKING DE TÊNIS, o organizador de Ranking's/Barragens pode gerenciar tudo com apenas alguns cliques no celular. Os tenistas lançam seus resultados, visualizam seus históricos, tudo de uma forma interativa e prática.</p>
                        <p>Hoje são mais de 1000 tenistas espalhados por Brasília e pelo país que já utilizam este sistema revolucionário.</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
