@model Barragem.Models.Barragens
@{
    ViewBag.Title = "Quem Somos";
    //Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    HttpCookie cookie = Request.Cookies["_barragemId"];
    var barraId = 0;
    if (cookie != null){
        barraId = Convert.ToInt32(cookie.Value.ToString());
    }
}

<!-- ******Signup Section****** -->
<h2 class="title">Quem Somos</h2>
<div class="desc text-left">
    @Html.Raw(Model.quemsomos)
    <br><br><br>
</div><!--//desc-->
