@model Barragem.Models.Barragens
@{
    ViewBag.Title = "Regulamento";
    //Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

    <div class="desc text-left">
            @Html.Raw(Model.regulamento)
    <br><br><br>
    </div><!--//desc-->
