<footer class="footer">
    <div class="container">

        <div class="wrapper d-flex justify-content-between">
            <div class="logo-footer">
                <img src="/Content/img/logo-white-cad.png" alt="logo" srcset="">
            </div>

            <div class="duvidas text-end">
                <h5 class="text-light">DÚVIDAS?</h5>
                <h5 class="text-light"><img class="img-fluid" src="/Content/img/whatsapp-icon.svg" alt="zap"> <a class="text-decoration-none text-white" target="_blank" href="https://wa.me/5561984086580/?text=Eu%20Gostaria%20de%20tirar%20uma%20dúvida%20">61 98408-6580</a></h5>
                <div class="line"></div>
            </div><!--duvidas-->
        </div><!--wrapper-->
        <div class="line2"></div>
        <div>
            <h5 class="copyright">© 2021 Ranking Beach Tennis. Todos os direitos reservados. </h5>
        </div>

    </div>
</footer>