<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Mais sobre nós</h3>
                        <ul class="list-unstyled">
                            <li><a href="~/Home/QuemSomos2"><i class="fa fa-caret-right"></i>Quem somos</a></li>
                            <li><a href="~/Home/Regulamento2"><i class="fa fa-caret-right"></i>Regulamento</a></li>
                            <li><a href="~/Home/FaleConosco2"><i class="fa fa-caret-right"></i>Fale Conosco</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Produtos</h3>
                        <ul class="list-unstyled">
                            <li><a href="~/Home/FuncJogos2"><i class="fa fa-caret-right"></i>Jogos</a></li>
                            <li><a href="~/Home/FuncRanking2"><i class="fa fa-caret-right"></i>Ranking</a></li>
                            <li><a href="~/Home/FuncTorneio2"><i class="fa fa-caret-right"></i>Torneios</a></li>
                            <li><a href="~/Home/FuncEventos2"><i class="fa fa-caret-right"></i>Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                </div>
                <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
