@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<p>
    @if (Model.Exception.GetType().FullName == "System.Web.Mvc.HttpAntiForgeryException")
    {
        <h3>Houve uma falha na sua sessão, clique no link abaixo e faça login novamente no sistema.</h3>
        <div><a href="javascript:document.getElementById('logoutForm').submit()">Fazer login</a></div>
    }
    else
    {
        <hgroup class="title">
            <h1 class="error">Desculpe-nos.</h1>
            <h2 class="error">Ocorreu alguma falha inesperada. Tente novamente mais tarde, se o problema persistir contate o administrador do sistema.</h2>
        </hgroup>
        <b>Tipo da Exceção:</b> @Model.Exception.GetType().FullName
    }
</p>
