@{
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
    ViewBag.Title = "RetornoPagamento";
}

<p>Parabéns. Pagamento concluído com sucesso. Aguarde a confirmação da operadora para liberação do seu pedido.</p>
