@{
    ViewBag.Title = "TesteRequest";
}

<h2>TesteRequest</h2>

<form action="Receber" method="post">
    <input type="text" name="notificationCode" value="0277C2183F9C3F9C05ECC4A35F8978E2792E" />
    <input type="text" name="notificationType" value="transaction" />
    <input type="submit" value="enviar" name="enviar"/>
</form>
