@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: DM Sans, sans-serif;
}

.hidden-input{
    display: none;
}

.input-active{
    display: block !important; 
    width:100%;
}

.line{
    width: 100%;
    height: 2px;
    background-color:white;
    margin: 20px 0 0 0;
}
.line2{
    width: 100%;
    height: 2px;
    background-color:white;
    margin: 20px 0;
    display: none;
}

.duvidas{
    width: 70%;
}
footer {
    height: 100%;
    padding: 30px 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*estilos para o menu mobile*/
.hamburger{
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background: #979797;
    z-index: 999999;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background: #979797;
    z-index: 999999;
}

/*estilos para o menu mobile*/
.menu{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(-200%);
    transition: 0.1s ease-in-out;
    overflow-y: scroll;
}

.contact-menu{
    padding-left: 2rem;
    background: #025F3A;
    padding-top: 31px;
    height:100%;
}

.contact-menu h6{
    color:white;
    font-weight: 700;
    font-size:16px;
}

.menu-active{
    transform: translateX(0);
}
.menu .logo > img{
    max-width:100px;
}

.menu ul.mobile li{
    list-style:none;
}
.menu ul.mobile li a{
    text-decoration:none;
    color:#4F4F4F;
    margin:10px 0;
    display: inline-block;
    font-weight: 700;
}
.menu ul.mobile li a.button{
    background:#025F3A;
    border-radius: 4px;
    padding: 7px 15px;
    max-width:100px;
    color: white;

}

.bg{
    position:absolute;
    z-index: 99;
    top:0;
    left:0;
    height:100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    display:none;
}
.bg-active{
    display:block !important;
}
.dropdown-item{
    font-weight: 700;
    color:#4F4F4F;
    padding: 10px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    max-width:200px;
    width: 100%;
    background: #F4F4F4;
}

.nav__wrapper{
    z-index: 999999;
}

.nav__wrapper h6{
    font-size: 14px;
    font-weight: 700;
    color: #025F34;
    margin-top: 8px;
}
.drowdown__info h6{
    font-size:14px;
    font-weight: 700;
    color:#333333;
}
.drowdown__info span{
    font-size:14px;
    font-weight: 700;
    color:#333333;
}
.drowdown__info p{
    font-size:12px;
    font-weight: 500;
    color:#BDBDBD;
}

.arrow{
    margin-right: 50px;
    margin-top: 10px;
}
.dropdown-custom{
    padding-left: 2rem;
}


.dropdown-links ul{
    background: #F4F4F4;
}



.dropdown-links ul li{
    list-style-type: none;   
}

.dropdown-links a{
    text-decoration:none;
    color:#4F4F4F;
    margin:10px 0;
    display: inline-block;
    font-weight: 700;
}
/*fim dos estilos para o menu mobile*/
/*fim dos estilos para o menu mobile*/


.container {
    max-width: 980px;
}

.banner {
    background-image: url('../img/banner-dashboard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    width: 100%;
}

.bannerTenis {
    background-image: url('../img/banner-dashboard-tenis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    width: 100%;
}

nav {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #025F34;
}

.btn-success {
    background-color: #014626;
    border-color: #014626;
}

.bg-success {
    background-color: #014626 !important;
}

.copyright {
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
}

.progress {
    height: 4px;
}

.dashboard h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #014626;
}

.dashboard .progress-bar {
    background-color: #E18335;
}

.trofeu h5 {
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #212121;
}

.trofeu p {
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #4C5862;
}

.btn-gray {
    background: #CECECE;
    border: 2px solid #CECECE;
    border-radius: 4px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    padding: 9px;
}

.btn-gray:hover {
    opacity: 0.7;
}

.btn-white {
    background: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 9px;
    color: #212121;
}

.btn-white:hover {
    opacity: 0.7;
}

.btn-orange {
    background: #F28749;
    color: white;
}

.btn-orange:hover {
    opacity: 0.7;
    color: white;
}

.card-torneio h5 {
    font-weight: bold;
    font-size: 16px;
}

.pendente {
    color: #E18335;
}

.feito {
    color: #025F3A;
}

.dropdown h5 {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}
.dropdown {
    padding-left:10px;
    border-left:1px solid;
    border-color:#E18335;
}

.dropdown h2 {
    font-size: 12px;
    color: #BDBDBD;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 1.2rem;
}
.buttons a{
    margin: 0 5px;
}
.buttons button{
    padding: 8px;
}

.button-custom{
    background: #CECECE;
    border-radius: 4px;
}

.eye,.edit{
    margin-right: 5px;
}
@media screen and (max-width: 768px) {
    footer img{
        max-width:100px !important;
    }
    
    footer h5{
    font-size:18px !important;
    }

    .copyright{
        font-size: 12px !important;
    }
    .chamada h1{
        font-size: 24px;
    }
    .logo{
        max-width:200px;
    }
    .form-control,.form-select,.alert-default,.form-input{
        max-width:340px !important;
    }
    main{
        overflow-x: hidden;
    }
    .dropdown{
        padding-left:0 !important;
        border-left:0 !important;
        margin:10px 0;
    }

    .copy{
        font-size: 8px;
    }

    .copy img{
        max-width:12px;
        margin-left: 5px;
    }

    .trofeu-img{
        max-width:30px;
    }

    .buttons a{
        font-size:12px;
        margin: 0;
        padding: 0 10px;
    }
    .eye{
        max-width:30px;
        margin-right: 5px;
    }

    .edit{
        max-width:20px;
        margin-right: 5px;
    }

    .buttons{
        justify-content: space-between !important;
    }

    .buttons button{
        padding: 5px 12px;
        margin: 8px 0;
    }
    .buttons .btn-eye{
        padding: 6px 20px;
    }
    .buttons button img{
        margin-right: 10px;
    }
    .custom{
        padding: 6px 10px !important;
    }
    .trofeu p{
        font-size:10px;
    }

    .button-mobile{
        padding:5px;
        margin: 0 3px;
    }
  
    .torneio-box{
        margin-top: 30px;
    }
    .logo-footer img{
        max-width:130px !important;
    }
    .duvidas h5{
        font-size:16px !important;
    }
    .line{
        display:none;
    }
    .line2{
        display:block;
    }
}

@media screen and (max-width: 992px){
    .hamburger{
        display: block;
    }
}