@{
    ViewBag.Title = "ConfirmaEnvio";
}

        <div class="alert alert-info">
            E-mail com o link de confirmação enviado com sucesso.
        </div>
        <p style="max-width: 300px;margin: 0 auto 10px;text-align:center">
            
        </p>
