@{
    Layout = "~/Views/Shared/_LayoutCadastroBT.cshtml";

}

@section Css_Cadastro{
    <link href="@Url.Content("/Content/css/cadastro-organizador.css")" rel="stylesheet" type="text/css" />
}

<main class="row h-100 w-100 m-0">
    <section class="col-md-5 bg-light">
        <form action="/Account/RegisterOrganizador" method="post" class=" m-auto mt-4">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <img src="/Content/img/logo-cad.png" alt="" srcset="">,
            <div class="mt-5 chamada">
                <label>se você é organizador de torneios</label>
                <h1>Crie sua conta</h1>
            </div>
            <div class="mt-3 form-input">
                <label for="">Nome *</label>
                <input type="text" name="nome" class="form-control" placeholder="Insira seu nome" required>
            </div>
            <div class="mt-3 form-input">
                <label for="">Login *</label>
                <input type="text" name="UserName" class="form-control" placeholder="Insira seu login" required>
            </div>
            <div class="mt-3 form-input">
                <label for="">E-mail *</label>
                <input type="email" name="email" class="form-control" placeholder="Insira seu e-mail" required>
            </div>
            <div class="mt-3 form-input">
                <div class="passord-wrapper d-flex flex-column justify-content-end">
                    <label for="name">Senha *</label>
                    <input name="Password" class="form-control" type="text" id="password" placeholder="Insira sua senha"
                           required />
                    <div class="eye">
                        <img class="img-fluid" id="eye" src="/Content/img/eye.png">
                        <img class="img-fluid" id="eyeClosed" src="/Content/img/hidden.png">
                    </div>
                </div>
            </div>
            <div class="mt-3 form-input">
                <div class="passord-wrapper d-flex flex-column justify-content-end">
                    <label for="name">Confirmar Senha *</label>
                    <input name="ConfirmPassword" class="form-control" type="text" id="repassword" placeholder="Insira sua senha"
                           required />
                    <div class="eye">
                        <img class="img-fluid" id="reye" src="/Content/img/eye.png">
                        <img class="img-fluid" id="reyeClosed" src="/Content/img/hidden.png">
                    </div>
                </div>
            </div>
            <div class="mt-3 form-input">
                <label for="">Celular / Whatsapp *</label>
                <input type="text" name="telefoneCelular" id="telefone" class="form-control" placeholder="(xx) xxxxx-xxxx">
            </div>
            <input type="hidden" name="bairro" value="não informado" />
            <input type="hidden" name="naturalidade" value="não informada" />
            <input type="hidden" name="altura2" value="0" />
            <input type="hidden" name="classeId" value="1" />
            <input type="hidden" name="barragemId" value="0" />
            <div class="mt-3 form-input mb-5">
                <button type="submit" class="btn btn-success w-100">Criar minha conta</button>
            </div>
        </form>
    </section>
    <section class="col-md-7 bg-img img-right">
    </section>
</main>

@section Scripts {
    <script>
        const password = document.getElementById('password');
        const repassword = document.getElementById('repassword');
        const eye = document.getElementById('eye');
        const eyeClosed = document.getElementById('eyeClosed');
        const reye = document.getElementById('reye');
        const reyeClosed = document.getElementById('reyeClosed');

        function changeToText() {
            eye.addEventListener('click', () => {
                if (password.Attribute = ('type', 'text')) {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                    eyeClosed.classList.toggle('eyeActive');
                }
                else {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                }
            });
        }
        function changeToTextR() {
            reye.addEventListener('click', () => {
                if (repassword.Attribute = ('type', 'text')) {
                    document.getElementsByName("ConfirmPassword")[0].setAttribute('type', 'password');
                    reyeClosed.classList.toggle('reyeActive');
                }
                else {
                    document.getElementsByName("ConfirmPassword")[0].setAttribute('type', 'password');
                }
            });
        }

        function changeToPassword() {
            eyeClosed.addEventListener('click', () => {
                if (password.Attribute = ('type', 'password')) {
                    document.getElementsByName("Password")[0].setAttribute('type', 'text');
                    eyeClosed.classList.toggle('eyeActive');
                }
                else {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                }
            });
        }

        function changeToPasswordR() {
            reyeClosed.addEventListener('click', () => {
                if (repassword.Attribute = ('type', 'password')) {
                    document.getElementsByName("ConfirmPassword")[0].setAttribute('type', 'text');
                    reyeClosed.classList.toggle('reyeActive');
                }
                else {
                    document.getElementsByName("ConfirmPassword")[0].setAttribute('type', 'password');
                }
            });
        }
        function maskNumber() {
            document.getElementById('telefone').addEventListener('input', function (e) {
                var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
                e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
            });
        }

        maskNumber();

        changeToText();
        changeToTextR();
        changeToPassword();
        changeToPasswordR();

    </script>
}