@model IEnumerable<Barragem.Models.SnapshotRanking>

    @{
        int auxCategoria = 0;
        <ul class="nav nav-tabs" id="myTab">
            @foreach (var snap in Model)
            {
                int idCategoriaAtual = snap.CategoriaId;
                if (auxCategoria != idCategoriaAtual)
                {
                    <li class="active"><a href="@Html.Raw("#"+idCategoriaAtual)" data-toggle="tab">idCategoriaAtual</a></li>
                    auxCategoria = idCategoriaAtual;
                }
            }
        </ul>

        auxCategoria = 0;
        <div class="tab-content">
            @foreach (var snap in Model)
            {
                var tabName = "tabClasse" + snap.CategoriaId;
                var tabPane = "tab-pane fade";
                if (c.nivel == 1) { tabPane = "tab-pane fade in active"; }
                <div class="@tabPane" id="@tabName">
                    <p>tab da categoria @tabName</p>
                </div>

            }
        </div>
    }


    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tabClasse1" data-toggle="tab">Classe 1</a></li>
        <li><a href="#tabClasse2" data-toggle="tab">Classe 2</a></li>
        <li><a href="#tabClasse3" data-toggle="tab">Classe 3</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabClasse1">
            <p>primeira tab</p>
        </div>
        <div class="tab-pane fade" id="tabClasse2">
            <p>segunda tab</p>
        </div>
        <div class="tab-pane fade" id="tabClasse3">
            <p>terceira tab</p>
        </div>
    </div>
