@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";
}

@section Css_Painel{
    <link href="@Url.Content("/Content/css/integracao-pagseguro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/toastr.min.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3 d-flex">
                <h3><a href="/Torneio/PainelControle" class="voltar"> <img src="~/Content/img/back.svg" alt="" srcset=""> Voltar</a>  |  Configuração Pagseguro</h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-6">
                @if ((ViewBag.tokenPagSeguroConfigurado != null) && (ViewBag.tokenPagSeguroConfigurado == "OK"))
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        Você já tem o <strong>Pagseguro Integrado</strong>. Caso queira mudar sua conta do Pagseguro, repita o processo abaixo.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <div class="avisos mb-1">
                    <p>Ao fazer a integração com o PagSeguro você permite que as pessoas se inscrevam no seu torneio e nosso sistema automaticamente irá reconhecer o pagamento.<br><br>Dessa forma, você não precisa ficar conferindo recibo de pagamento pois a inscrição será ativada de forma automática.</p>
                    <h3>Passo 1: Crie sua conta no PagSeguro</h3>
                    <p>
                        Se você ainda não tem conta no Pagseguro, cadastre-se em: <a href="https://cadastro.pagseguro.uol.com.br/" class="text-dark" target="_blank">https://cadastro.pagseguro.uol.com.br/</a><br><br>
                        Siga todos os passos do PagSeguro e só após conseguir acesso siga para o próximo passo. Se tiver dúvida assista <a href="https://youtu.be/WxFGPbAxSYw" class="text-dark" target="_videopagseguro">este vídeo</a>.
                    </p>
                    <h3>Passo 2: Atualize o PagSeguro para conta de vendedor</h3>
                    <p>
                        <ul>
                            <li>Acesse sua conta do PagSeguro pelo computador;</li>
                            <li>Clique na opção Vender com Pagseguro no menu a esquerda;</li>
                            <li>Clique em Migrar para Vendedor;</li>
                            <li>Preencha os dados solicitados e salve.</li>
                        </ul>
                    </p>
                    <h3>Passo 3: Crie uma chave pix no PagBank</h3>
                    <p>
                        <ul>
                            <li>Abra o super app PagBank e faça o login;</li>
                            <li>Clique em Pix/QR Code e, em seguida, em Minhas Chaves;</li>
                            <li>Toque em Cadastrar Chaves;</li>
                            <li>Selecione as chaves que deseja cadastrar e confirme em Começar Cadastro.</li>
                        </ul>
                    </p>
                    <h3>Passo 4: Integração</h3>
                    <p> Agora que você já tem uma conta lá, insira seu e-mail cadastrado.</p>
                </div>

                <div class="mt-3 form-input">
                    <label for="">E-mail utilizado no PagSeguro</label>
                    <input type="text" id="emailPagSeguro" name="emailPagSeguro" class="form-control" placeholder="Email">
                </div>

                <div class="mt-3 form-input ps-2 d-flex row">
                    <div class="col-md-6 p-1">
                        <input class="btn btn-success w-100" type="button" id="solicitarAutorizacao" name="solicitarAutorizacao" value="Solicitar autorização" />
                    </div>
                </div>
                <div id="respostaDiv" class=""></div>

                <div class="avisos mt-3">
                    <h3>Passo 5: Validando a integração</h3>
                    <p>Informe abaixo o código que foi enviado via sms para seu celular cadastrado no Pagseguro.</p>
                </div>

                <div class="mt-3 form-input">
                    <label for="">Código enviado por SMS</label>
                    <input type="text" name="codigoSMS" id="codigoSMS" value="" class="form-control" placeholder="Código de 6 números">
                </div>

                <div class="mt-3 form-input ps-2 d-flex row">
                    <div class="col-md-6 p-1">
                        <input class="btn btn-success w-100" type="button" value="Enviar Código" id="enviarCodigo" />
                    </div>
                </div>
                <div id="respostaTokenDiv" class=""></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("/Scripts/toastr.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#solicitarAutorizacao").click(function (event) {
                var email = document.getElementById("emailPagSeguro").value;
                $.ajax({
                    type: "POST",
                    url: "/Barragens/SolicitarAutorizacaoPagSeguro",
                    dataType: "json",
                    data: "{'emailPagSeguro':'" + email + "'}",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (typeof response == "object") {
                            if (response.retorno === 0) {
                                toastr.error(response.erro, "Erro");
                                document.getElementById("respostaDiv").classList.remove("alert-success");
                                document.getElementById("respostaDiv").classList.add("alert");
                                document.getElementById("respostaDiv").classList.add("alert-danger");
                                document.getElementById("respostaDiv").innerText = response.erro;
                            } else {
                                document.getElementById("respostaDiv").classList.remove("alert-danger");
                                document.getElementById("respostaDiv").classList.add("alert");
                                document.getElementById("respostaDiv").classList.add("alert-success");
                                document.getElementById("respostaDiv").innerText = response.mensagem;
                                toastr.success("Código enviado com sucesso.", "Aviso");
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(textStatus, "Erro");
                    }
                });
            });

            $("#enviarCodigo").click(function (event) {
                var codigo = document.getElementById("codigoSMS").value;
                $.ajax({
                    type: "POST",
                    url: "/Barragens/SolicitarToken",
                    dataType: "json",
                    data: "{'code':'" + codigo + "'}",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (typeof response == "object") {
                            if (response.retorno === 0) {
                                toastr.error(response.erro, "Erro");
                                document.getElementById("respostaTokenDiv").classList.remove("alert-success");
                                document.getElementById("respostaTokenDiv").classList.add("alert");
                                document.getElementById("respostaTokenDiv").classList.add("alert-danger");
                                document.getElementById("respostaTokenDiv").innerText = response.erro;
                            } else {
                                document.getElementById("respostaTokenDiv").classList.remove("alert-danger");
                                document.getElementById("respostaTokenDiv").classList.add("alert");
                                document.getElementById("respostaTokenDiv").classList.add("alert-success");
                                document.getElementById("respostaTokenDiv").innerText = response.mensagem;
                                toastr.success("Operação realizada com sucesso.", "Aviso");
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(textStatus, "Erro");
                    }
                });
            });
        });

    </script>
    <script src="~/Content/js/menu.js"></script>
}
